{
  "extends": ["airbnb-base"],
  "rules": {
    "strict": 0,
    "global-require": 0,
    "import/extensions": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-restricted-properties": [0, {
      "property": "pow"
    }]
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  }
}
